body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --border-radius: 30px;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --color-light: #f8f4f4;
  --color-white: #fff;
}

/* Input Group */
.input-group {
  align-items: center;
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px 1px var(--color-body);
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 0.5rem 1rem;
}

.search-input {
  border: 0;
  color: var(--color-body);
  flex: 1;
  padding: 0.5rem;
  outline: 0;
}

/* Media Query */
.media-query {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.media-query__name {
  color: var(--color-body-darker);
  font-weight: 700;
}

.media-query__image {
  border-radius: 1.25rem;
  height: 2.5rem;
  margin: 0 0.5rem;
  width: 2.5rem;
}

/* Icons */
.icon {
  color: var(--color-body);
}

/* Page Controller */
.page-controller {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.page-controller__separator {
  align-self: center;
  color: var(--color-body);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

/* NavBar */
.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0 5rem;
}

.navbar .input-group {
  width: 50%;
}

.navbar .page-controller {
  align-self: center;
}

/* Cards */
.card {
  display: inline-block;
  background-color: var(--color-white);
  height: 13.5rem;
  margin: 0.4rem;
  margin-left: 0;
  max-width: 10rem;
}

.card,
.card__header,
.banner {
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  border-radius: var(--color-border);
  height: 6rem;
  width: 100%;
}

.card__body {
  padding: 0 1rem;
  display: inline-flex;
}

.card__title,
.card__footer {
  padding: 0 0.5rem;
}

.card__title {
  color: var(--color-headings);
  display: block;
  font-weight: 800;
  margin-bottom: 0.2rem;
}

.card__footer {
  align-items: center;
  background-color: var(--color-white);
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  border-radius: inherit;
}

.card__footer__title {
  color: var(--color-border);
}

.card__footer .btn,
.banner .btn {
  background-color: var(--color-white);
  border-color: var(--color-border);
  border-radius: 5px;
  color: var(--color-body-darker);
  cursor: pointer;
  font-size: 0.5rem;
  outline: 0;
  padding: 0.2rem 0.5rem;
  width: 4rem;
}

.card__footer .btn:hover,
.banner .btn:hover {
  background-color: #1b0760;
  border: 0;
  color: var(--color-white);
  padding: 0.3rem;
}

/* Links */
a {
  text-decoration: none;
}

.link {
  border-radius: 5px;
  color: var(--color-body-darker);
  padding: 0;
}

/* Pages */
.home-page {
  background-color: var(--color-light);
  display: flex;
  height: 200vh;
  justify-content: space-between;
  padding: 0.2rem;
}

.page-element {
  width: 50%;
}

.profile-page .accounts {
  display: flex;
}

.profile-page .input {
  display: block;
  margin: 2rem 0;
  border-radius: 10px;
}

.profile {
  margin: 0 1rem;
  align-items: center;
}

.profile img {
  height: 5rem;
  width: 5rem;
}

.profile__name {
  font-size: 0.7rem;
  text-align: center;
}

/* Banner */
.banner {
  position: relative;
  margin-right: 0.5rem;
}

.banner img {
  height: 12rem;
  width: 100%;
}

.banner .link {
  bottom: 10px;
  padding: 1rem;
  position: absolute;
  right: 10px;
  z-index: 1;
}

.banner__title {
  color: var(--color-white);
  font-size: 1.5rem;
  font-weight: 900;
  left: 1rem;
  position: absolute;
  top: 10px;
  z-index: 1;
}

.heading {
  color: var(--color-body-darker);
}

/* Widget */
.widget {
  align-items: center;
  background-color: var(--color-white);
  border-radius: 20px;
  justify-content: center;
}

.widget__time,
.widget__dates {
  display: flex;
  justify-content: center;
}

.widget__time {
  height: 5rem;
}

.widget__date {
  font-weight: 700;
  margin-right: 10px;
}

.widget__big-element,
.widget__date {
  color: var(--color-body-darker);
}

.widget__big-element {
  font-size: 2rem;
}

/* Container */
.container {
  max-width: 1024px;
  margin: 0 auto;
}

/* Profile Page */

h1 {
  font-weight: 200;
  letter-spacing: 2px;
}

#container {
  display: flex;
  width: 100%;
  justify-content: center;
}

#profilNavn {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

#profilNavn:hover {
  color: grey;
}

.img {
  width: 100px;
  border-radius: 100%;
  margin: 10px;
}
